@charset "utf-8";

/* reset */
ul {
    padding: 0;
    list-style:none;
}
img {
    width: 100%;
    height: 100%;
    /* 부모 요소에 가득 차게, 이미지는 비율 유지 */
    object-fit: cover;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
}